.#{$theme-class} {
  .chameleon-search-field {
    appearance: none;
    border: none;
    padding: 0;
    position: relative;
  }

  .chameleon-search-field__label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    color: transparent;
    user-select: none;
  }

  .chameleon-search-field__input {
    padding-left: 14px;
    padding-right: 42px;
    font-size: 1rem;
    font-family: $font-family;
    font-weight: 500;
    border-radius: 4px;

    @media (prefers-color-scheme: light) {
      border: 1px solid $brand-faded-alt-light;
      background: $brand-faded-light;
      color: $brand-dark-light;
    }

    @media (prefers-color-scheme: dark) {
      border: none;
      background: $brand-faded-dark;
      color: $brand-dark-dark;
    }
  }

  .chameleon-search-field__icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 16px;
    height: 16px;
    pointer-events: none;

    @media (prefers-color-scheme: light) {
      color: $brand-dark-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-dark-dark;
    }
  }
}
