.comment {
  display: flex;
  flex-direction: row;
}

.avatarImage {
  margin-right: 15px;
  user-select: none;
}

.avatarImage > img {
  width: 32px;
  height: 32px;
  border-radius: 9999999px;
}

.content {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  flex: 1;
}

.content p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.content * {
  display: inline-block;
  margin: 0;
  line-height: 1rem;
}

.content a {
  font-weight: 600;
}

.content img {
  width: calc(1rem + 4px);
  height: calc(1rem + 4px);
  object-fit: contain;
  margin-right: 0.2rem;
  vertical-align: middle;
  margin-top: -0.2rem;
}

.profileLink {
  margin-right: 0.3rem;
  font-weight: 600;
  user-select: none;
}

.content *:last-of-type {
  margin-bottom: 0;
}

.meta {
  margin-top: 8px;
  width: 100%;
  font-size: 0.7rem;
  color: var(--text-color-faded);
  user-select: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.meta strong {
  font-weight: 600;
}

.actions {
  display: flex;
  padding-top: 4px;
}
