.button {
  border-radius: 9999999px;
  padding: 12px 18px;
  padding-left: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  outline: none;
  border: none;
  transition: all 0.15s ease;
  transition-property: background-color;
  font-size: 1rem;
  font-weight: 500;
}

.button.active {
  font-weight: 600;
}

.button svg {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 8px;
}

.button:hover,
.button:focus-visible {
  background: #f9f9f9;
}

.img {
  width: 28px;
  height: 28px;
  object-fit: cover;
  color: transparent;
  user-select: none;
  position: absolute;
  left: 8px;
  border-radius: 9999999px;
}

/* Container is constrained? (i.e. Mobile). See MainLayout.module.css for matching media query ruleset. */
@media screen and (max-width: 800px), screen and (max-height: 580px) {
  .button {
    padding: 0;
    margin: 0;
    gap: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
  }

  .button > img {
    position: inherit;
    left: 0;
  }

  .button > span {
    display: none;
  }
}
