.nav {
  height: 60px;
  background: white;
  border-top: 0.5px solid #333;
}

.list {
  margin: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  flex: 1;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.list > * {
  list-style-type: none;
  position: relative;
}

.list > *:before {
  content: '\200B';
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  border-radius: 9999999px;
  display: flex;
  align-items: center;
  position: relative;
  outline: none;
  border: none;
  transition: all 0.15s ease;
  transition-property: background-color;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Open Sans', 'sans-serif';
  cursor: pointer;
  background: none;
  height: 100%;
  flex: 1;
  justify-content: center;
}

.link:hover,
.link:focus-visible {
  background: #f9f9f9;
}

.link svg {
  width: 28px;
  height: 28px;
}
