.overlay {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
}

.modal {
  position: fixed;
  margin-right: -50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.1, 1.1);
  width: 80%;
  height: calc(100% - 45px);
  max-width: 1040px;
  border-radius: 4px;
  background: white;
  transition: all 0.15s ease;
  display: flex;
  user-select: none;
}

.close {
  position: fixed;
  top: 20px;
  right: 20px;
}

.close * {
  color: white;
}

.modal.opened {
  transform: translate(-50%, -50%) scale(1, 1);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.image {
  height: 100%;
  flex: 0.5;
  background: black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.image > img {
  object-fit: contain;
}

.details {
  height: 100%;
  flex: 0.5;
  border-left: solid 0.5px #ccc;
  display: flex;
  flex-direction: column;
}

.masthead {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 14px;
  padding-right: 14px;
  border-bottom: solid 0.5px #ccc;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatarImage {
  width: 34px;
  height: 34px;
  border-radius: 9999999px;
  margin-right: 10px;
}

.avatarName {
  font-size: 0.9rem;
  font-weight: 600;
}

.actionBar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tools {
  display: flex;
  width: 100%;
  gap: 12px;
  margin-bottom: 10px;
}

.save {
  margin-left: auto;
}

.stats {
  font-size: 0.9rem;
  font-weight: 600;
  user-select: none;
  margin: 0;
  padding: 0;
}

.date {
  font-size: 0.7rem;
  font-weight: 400;
  user-select: none;
  text-transform: uppercase;
  color: var(--text-color-faded);
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.thinText {
  font-weight: 400;
}

.statsCta,
.statsCta:visited,
.statsCta:active,
.statsCta:hover {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.comments {
  border-top: 0.5 px solid #ddd;
  padding-top: 0.5rem;
  flex: 1;
  overflow-y: scroll;
  user-select: text;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.commentBar {
  display: flex;
  gap: 10px;
  border-top: solid 0.5px #ddd;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.commentBarField {
  flex: 1;
  outline: none;
  appearance: none;
  border: none;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentBarField::placeholder {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 0.9rem;
  font-weight: 500;
  color: #777;
}
