$theme-class: 'theme--chameleon';
$background-color-light: #f9fffc;
$background-color-dark: #121716;
$brand-light: #2bbd81;
$brand-dark: #6abc9a;
$brand-black-light: #283730;
$brand-black-dark: #e1ede7;
$brand-faded-light: #a2c5b7;
$brand-faded-dark: #40554d;
$brand-extra-faded-light: #d5ede4;
$brand-extra-faded-dark: #24342e;
