$theme-class: 'theme--chameleon';
$background-color-light: #f9fffc;
$background-color-dark: #121716;
$brand-light: #2bbd81;
$brand-dark: #6abc9a;
$brand-black-light: #283730;
$brand-black-dark: #e1ede7;
