.container {
  flex: 1;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
}

.feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  position: relative;
}

.post {
  width: 470px;
  min-height: 630.5px;
  overflow: hidden;
}

.progress {
  position: fixed;
  top: 0;
  left: 246px;
  right: 0;
  width: calc(100% - 246px);
}

.indicator {
  margin: 0;
  margin-top: 10px;
  font-size: 0.8rem;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .post {
    width: calc(100% - 20px);
    min-height: auto;
    aspect-ratio: 3 / 4;
  }
}
