$theme-class: 'theme--walled-garden';
$background-color-light: #fafafa;
$background-color-dark: #171717;
$brand-light: #2bbd81;
$brand-dark: #6abc9a;
$brand-black-light: #434343;
$brand-black-dark: #f2f2f2;
$brand-faded-light: #e4e4e4;
$brand-faded-dark: #313131;
$brand-extra-faded-light: #f0f0f0;
$brand-extra-faded-dark: #313131;
$brand-faded-alt-light: #c7c7c7;
$brand-dark-light: #616161;
$brand-dark-dark: rgb(199, 199, 199);
$text-plain-light: black;
$text-plain-dark: white;
