.#{$theme-class} {
  .chameleon-page-user__posts {
    @include mq($until: desktop) {
      border-top: none;
      border-left: none;
      border-right: none;
    }

    @include mq($from: desktop) {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    @media (prefers-color-scheme: light) {
      background: white;
      border-color: $brand-faded-alt-light;
      box-shadow: 0px 2px 32px 0px rgba(198, 198, 198, 0.5);
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-faded-dark;

      @include mq($until: desktop) {
        background: rgba(30, 30, 30, 0.85);
        border-color: $brand-extra-faded-dark;
      }

      @include mq($from: desktop) {
        border: none;
      }
    }
  }
}
