.#{$theme-class} {
  .chameleon-page-post__post--comments-available {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .chameleon-page-post__comments {
    @include mq($from: desktop) {
      border-radius: 4px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    @media (prefers-color-scheme: light) {
      background: white;
      border-color: $brand-light;
      box-shadow: 0px 2px 4px 0px rgba(198, 198, 198, 0.5);
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-faded-dark;

      @include mq($until: desktop) {
        border-color: $brand-extra-faded-dark;
      }

      @include mq($from: desktop) {
        border: none;
      }
    }
  }
}
