.#{$theme-class} {
  .orbit-search-bar {
    appearance: none;
    border: 1px solid transparent;
    outline: none;
    border-radius: 9999px;
    font-size: $font-size-l;
    font-weight: $font-weight-regular;
    background-size: 18px 18px;
    background-position: right center;

    @media (prefers-color-scheme: light) {
      background: $fill-light;
      color: $text-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $fill-dark;
      color: $text-dark;
    }

    &::placeholder {
      font-weight: $font-weight-thin;
      font-style: italic;
    }

    &:active,
    &:focus-visible {
      @media (prefers-color-scheme: light) {
        border-color: $brand-light;
      }

      @media (prefers-color-scheme: dark) {
        border-color: $brand-dark;
      }
    }
  }
}
