.#{$theme-class} {
  .chameleon-plain-button {
    appearance: none;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    color: white;
    font-family: 'chameleonfont', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    user-select: none;
    background: none;

    @media (prefers-color-scheme: light) {
      color: $brand-black-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-black-dark;
    }
  }

  .chameleon-plain-button--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .chameleon-plain-button--brand {
    font-size: 0.9rem;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
