.chameleon-indicator {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}

.chameleon-indicator::after,
.chameleon-indicator::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid;
  width: 48px;
  height: 48px;
}
