.chameleon-toolbox {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.chameleon-toolbox__search-field {
  margin-bottom: 20px;
}

.chameleon-toolbox__server-info-block {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.chameleon-toolbox__server-info-spacer {
  margin-top: auto;
  margin-bottom: auto;
}

.chameleon-toolbox__server-info-block--trailing {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chameleon-toolbox__user-profile {
  margin-bottom: 20px;
}
