.chameleon-user-profile-tile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid;
  gap: 20px;
}

.chameleon-user-profile-tile__row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.chameleon-user-profile-tile__info-row {
  flex-direction: column;
  gap: 4px;
}

.chameleon-user-profile-tile__photo {
  width: 100px;
  height: 100px;
  pointer-events: none;
}

.chameleon-user-profile-tile__follow-button {
  margin-left: auto;
  margin-bottom: auto;
}

.chameleon-user-profile-tile__links-row {
  display: flex;
  flex-direction: column;
}

.chameleon-user-profile-tile__link-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  padding-left: 14px;
  padding-bottom: 14px;
  padding-right: 14px;

  &:first-of-type {
    padding-top: 14px;
  }

  &:last-of-type {
    border: none;
  }
}

.chameleon-user-profile-tile__link-title {
  margin-bottom: 5px;
}
