.#{$theme-class} {
  .orbit-nav {
    @media (prefers-color-scheme: light) {
      background: $fill-2-light;
      border-bottom: 0.5px solid $fill-3-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $fill-2-dark;
      border-bottom: 0.5px solid $fill-3-dark;
    }
  }

  .orbit-nav__logo {
    text-decoration: none;
  }

  .orbit-nav__logo-text {
    @media (prefers-color-scheme: light) {
      color: $text-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-dark;
    }
  }

  .orbit-nav__logo-subtitle {
    @media (prefers-color-scheme: light) {
      color: $text-2-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-2-dark;
    }
  }
}
