.#{$theme-class} {
  .orbit-user-button--authenticated {
    text-decoration: none;
    font-size: $font-size-m;

    @media (prefers-color-scheme: light) {
      color: $text-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-dark;
    }
  }

  .orbit-user-button__avatar {
    color: transparent;

    @media (prefers-color-scheme: light) {
      background: $fill-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $fill-dark;
    }
  }

  .orbit-user-button__details-handle {
    font-weight: $font-weight-medium;
  }

  .orbit-user-button__details-full-handle {
    font-size: $font-size-s;

    @media (prefers-color-scheme: light) {
      color: $text-2-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-2-dark;
    }
  }
}
