.#{$theme-class} {
  .chameleon-form-new-post {
    user-select: none;
    border-radius: 4px;

    @media (prefers-color-scheme: light) {
      background: white;
      border-color: $brand-faded-alt-light;
      color: black;
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-extra-faded-dark;
      border: none;
      color: white;
    }
  }

  .chameleon-form-new-post__preview {
    background: black;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .chameleon-form-new-post__caption-field {
    font-family: $font-family;
    resize: none;
    outline: none;

    @media (prefers-color-scheme: light) {
      background: transparent;
      border-color: $brand-faded-light;
      color: black;
    }

    @media (prefers-color-scheme: dark) {
      background: transparent;
      border: none;
      color: black;
    }
  }

  .chameleon-form-new-post__left-action,
  .chameleon-form-new-post__right-action {
    outline: none;
  }

  .chameleon-form-new-post__preview-content {
    background: white;
  }

  .chameleon-form-new-post__preview-options {
    @media (prefers-color-scheme: light) {
      background: $brand-faded-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-faded-light;
    }
  }

  .chameleon-form-new-post__character-count {
    font-size: 0.9rem;
    font-weight: 600;
    color: $brand-black-light;
  }

  .chameleon-form-new-post__character-count--empty {
    color: rgb(255, 77, 0);
  }

  .chameleon-form-new-post__upload-feature-text {
    text-align: center;
  }
}
