.#{$theme-class} {
  .chameleon-form-new-comment {
    user-select: none;
    border-radius: 4px;

    @media (prefers-color-scheme: light) {
      border-color: $brand-faded-alt-light;
      color: black;
    }

    @media (prefers-color-scheme: dark) {
      border: none;
      color: white;
    }
  }

  .chameleon-form-new-comment__caption-field {
    font-family: $font-family;
    resize: none;
    outline: none;

    @media (prefers-color-scheme: light) {
      background: transparent;
      border-color: $brand-faded-light;
      color: black;
    }

    @media (prefers-color-scheme: dark) {
      background: transparent;
      border: none;
      color: black;
    }
  }

  .chameleon-form-new-comment__left-action,
  .chameleon-form-new-comment__right-action {
    outline: none;
  }

  .chameleon-form-new-comment__preview-content {
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .chameleon-form-new-comment__preview-options {
    @media (prefers-color-scheme: light) {
      background: $brand-faded-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-faded-light;
    }
  }

  .chameleon-form-new-comment__character-count {
    font-size: 0.9rem;
    font-weight: 600;
    color: $brand-black-light;
  }

  .chameleon-form-new-comment__character-count--empty {
    color: rgb(255, 77, 0);
  }
}
