.#{$theme-class} {
  .chameleon-toolbox__server-info-block {
    font-size: 0.9rem;
    font-weight: 400;

    @media (prefers-color-scheme: light) {
      color: $brand-black-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-black-dark;
    }
  }

  .chameleon-toolbox__server-info-block--bold {
    font-weight: 500;
  }

  .chameleon-toolbox__server-info-block-link {
    text-decoration: underline;
    font-weight: 500;
    font-size: inherit;

    @media (prefers-color-scheme: light) {
      color: $brand-black-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-black-dark;
    }
  }

  .chameleon-toolbox__server-info-block--trailing-link {
    font-weight: 400;
  }
}
