$font-family: "chameleonfont" !default;
$font-weight-black: 700 !default;
$font-weight-bold: 600 !default;
$font-weight-medium: 500 !default;
$font-weight-regular: 400 !default;
$font-weight-light: 300 !default;
$font-weight-thin: 200 !default;
