$theme-class: 'theme--orbit';
$background-color-light: #f6f6f6;
$background-color-dark: #242424;
$background-color-2-light: #ffffff;
$background-color-2-dark: #2c2c2c;
$background-color-3-light: #dcdcdc;
$background-color-3-dark: #000000;
$brand-light: #724cb4;
$brand-dark: #724cb4;
$text-light: #000000;
$text-dark: #eeeeee;
$text-2-light: #666666;
$text-2-dark: #959595;
