$theme-class: 'theme--orbit';
$fill-light: #f6f6f6;
$fill-dark: #201e23;
$fill-2-light: #ffffff;
$fill-2-dark: #2a2730;
$fill-3-light: #dcdcdc;
$fill-3-dark: #060607;
$brand-light: #724cb4;
$brand-dark: #724cb4;
$text-light: #000000;
$text-dark: #eeeeee;
$text-2-light: #666666;
$text-2-dark: #c9c9c9;
