.chameleon-icon-button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chameleon-icon-button__content {
  width: 24px;
  height: 24px;
  padding: 4px;
}
