.chameleon-search-field {
  height: 50px;
  display: flex;
  padding: 0;
}

.chameleon-search-field__label {
  margin-right: 20px;
}

.chameleon-search-field__input {
  flex: 1;
}

.chameleon-search-field__icon {
  display: none;
}
