.orbit-welcome-card {
  padding: 20px;
}

.orbit-welcome-card__content-new-post,
.orbit-welcome-card__content-sign-in {
  margin-bottom: 10px;
}

.orbit-welcome-card__content {
  display: flex;
  flex-direction: column;
}
