.button {
  margin-top: 10px;
  outline: none;
  background: var(--brand-color);
  color: var(--text-color-light);
  border: 1px solid var(--brand-color);
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.15s;
  transition-property: border-color, background-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:focus-visible,
.button:active {
  border-color: var(--brand-color-faded);
  background-color: var(--brand-color-faded);
}
