.orbit-page-home__feed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;

  @include mq($until: desktop) {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq($from: desktop) {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}

.orbit-page-home__feed-post {
  height: 160px;
}
