.chameleon-page-post {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

.chameleon-page-post__post {
  margin-top: 30px;
}

.chameleon-page-post__status-bar {
  position: sticky;
  top: 20px;
  left: 0;
  right: 0;

  @include mq($until: desktop) {
    top: 55px;
  }
}

.chameleon-page-post__comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid;
}

.chameleon-post__indicator {
  margin-left: auto;
  margin-right: auto;
}
