.chameleon-page-user {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

.chameleon-page-user__profile {
  margin-top: 30px;
}

.chameleon-page-user__status-bar {
  position: sticky;
  top: 20px;
  left: 0;
  right: 0;

  @include mq($until: desktop) {
    top: 55px;
  }
}

.chameleon-page-user__posts {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border: 1px solid;
}

.chameleon-post__indicator {
  margin-left: auto;
  margin-right: auto;
}

.chameleon-page-user__posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: -1px;
  overflow-y: hidden;
}

.chameleon-page-user__post {
  padding: 0;
  margin: 0;
  width: calc(33.3333333333% - (2px / 3));
  margin-bottom: 1px;
}

.chameleon-page-user__post--last {
  margin-bottom: 0;
}

.chameleon-page-user__post--left {
  margin-right: 1px;
}

.chameleon-page-user__post-middle {
  margin-right: 1px;
}

.chameleon-page-user__post-image {
  padding: 0;
  margin: 0;
  aspect-ratio: 1/1;
  overflow-y: hidden;
}

.chameleon-page-user__post-image-content {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

@include mq($until: desktop) {
  .chameleon-page-user__post {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-bottom: 1px;
  }

  .chameleon-page-user__post--last {
    margin-bottom: 0;
  }

  .chameleon-page-user__post--left {
    margin-right: 0;
  }

  .chameleon-page-user__post-middle {
    margin-right: 0;
  }
}
