.#{$theme-class} {
  .chameleon-user-profile-card__profile-image {
    color: transparent;
    background: black;
    border-radius: 9999999px;
  }

  .chameleon-user-profile-card__options-button {
    @media (prefers-color-scheme: light) {
      color: $brand-dark-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-dark-dark;
    }
  }

  .chameleon-user-profile-card__profile-link {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;

    @media (prefers-color-scheme: light) {
      color: $text-plain-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $text-plain-dark;
    }
  }

  .chameleon-user-profile-card__profile-settings-link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;

    @media (prefers-color-scheme: light) {
      color: $brand-dark-light;
    }

    @media (prefers-color-scheme: dark) {
      color: $brand-dark-dark;
    }
  }
}
