.#{$theme-class} {
  .chameleon-mobile-nav {
    z-index: 100;
    @media (prefers-color-scheme: light) {
      background: $brand-extra-faded-light;
      border-bottom-color: $brand-faded-alt-light;
    }

    @media (prefers-color-scheme: dark) {
      background: $brand-extra-faded-dark;
      border-bottom-color: $brand-faded-dark;
    }
  }

  .chameleon-mobile-nav__title-link {
    text-decoration: none;
  }

  .chameleon-mobile-nav__title {
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq($until: mobile) {
      width: 32px;
      height: 32px;
      @media (prefers-color-scheme: light) {
        background-image: url('/images/logo-light-mini.svg');
      }

      @media (prefers-color-scheme: dark) {
        background-image: url('/images/logo-dark-mini.svg');
      }
    }

    @include mq($from: mobile) {
      width: 168px;
      height: 52px;
      @media (prefers-color-scheme: light) {
        background-image: url('/images/logo-light.svg');
      }

      @media (prefers-color-scheme: dark) {
        background-image: url('/images/logo-dark.svg');
      }
    }
  }

  .chameleon-mobile-nav__title {
    @include mq($until: mobile) {
      height: 32px;
    }

    @include mq($from: mobile) {
      height: 40px;
    }
  }
}
